USE [master]
GO
/****** Object:  Database [ShoeShop]    Script Date: 21.12.2025 23:55:26 ******/
CREATE DATABASE [ShoeShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoeShop', FILENAME = N'/var/opt/mssql/data/ShoeShop.mdf' , SIZE = 524288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoeShop_log', FILENAME = N'/var/opt/mssql/log/ShoeShop_log.ldf' , SIZE = 65536KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoeShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoeShop]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 21.12.2025 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [smallint] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 21.12.2025 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[imageId] [int] NOT NULL,
	[name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[imageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 21.12.2025 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[manufacturerId] [int] NOT NULL,
	[title] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[manufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 21.12.2025 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [int] NOT NULL,
	[orderDate] [date] NOT NULL,
	[deliveryDate] [date] NOT NULL,
	[userId] [int] NOT NULL,
	[code] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 21.12.2025 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[orderId] [int] NOT NULL,
	[article] [nvarchar](8) NOT NULL,
	[quantity] [tinyint] NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC,
	[article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 21.12.2025 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[article] [nvarchar](8) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[measurementUnit] [nvarchar](20) NOT NULL,
	[price] [smallint] NOT NULL,
	[supplierId] [smallint] NOT NULL,
	[manufacturerId] [int] NOT NULL,
	[categoryId] [smallint] NOT NULL,
	[discount] [tinyint] NOT NULL,
	[quantity] [smallint] NOT NULL,
	[description] [nvarchar](400) NOT NULL,
	[imageId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21.12.2025 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [smallint] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 21.12.2025 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplierId] [smallint] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[supplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21.12.2025 23:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[patronymic] [nvarchar](50) NULL,
	[roleId] [smallint] NOT NULL,
	[email] [nvarchar](256) NOT NULL,
	[passwordhash] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([categoryId], [title]) VALUES (1, N'Женская обувь')
INSERT [dbo].[Category] ([categoryId], [title]) VALUES (2, N'Мужская обувь')
GO
INSERT [dbo].[Image] ([imageId], [name]) VALUES (1, N'1.jpg')
INSERT [dbo].[Image] ([imageId], [name]) VALUES (2, N'2.jpg')
INSERT [dbo].[Image] ([imageId], [name]) VALUES (3, N'3.jpg')
GO
INSERT [dbo].[Manufacturer] ([manufacturerId], [title]) VALUES (1, N'Kari')
INSERT [dbo].[Manufacturer] ([manufacturerId], [title]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Manufacturer] ([manufacturerId], [title]) VALUES (3, N'Рос')
GO
INSERT [dbo].[Order] ([orderId], [orderDate], [deliveryDate], [userId], [code], [status]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 4, 901, N'Завершен')
INSERT [dbo].[Order] ([orderId], [orderDate], [deliveryDate], [userId], [code], [status]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 1, 902, N'Завершен')
INSERT [dbo].[Order] ([orderId], [orderDate], [deliveryDate], [userId], [code], [status]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 903, N'Завершен')
GO
INSERT [dbo].[OrderProduct] ([orderId], [article], [quantity]) VALUES (1, N'F635R4', 2)
INSERT [dbo].[OrderProduct] ([orderId], [article], [quantity]) VALUES (1, N'А112Т4', 2)
INSERT [dbo].[OrderProduct] ([orderId], [article], [quantity]) VALUES (2, N'H782T5', 1)
GO
INSERT [dbo].[Product] ([article], [title], [measurementUnit], [price], [supplierId], [manufacturerId], [categoryId], [discount], [quantity], [description], [imageId]) VALUES (N'B320R5', N'Туфли', N'шт.', 4300, 1, 4, 1, 2, 6, N'Туфли Rieker женские демисезонные, размер 41, цвет коричневый', 9)
INSERT [dbo].[Product] ([article], [title], [measurementUnit], [price], [supplierId], [manufacturerId], [categoryId], [discount], [quantity], [description], [imageId]) VALUES (N'B431R5', N'Ботинки', N'шт.', 2700, 2, 4, 2, 2, 5, N'Мужские кожаные ботинки/мужские ботинки', NULL)
INSERT [dbo].[Product] ([article], [title], [measurementUnit], [price], [supplierId], [manufacturerId], [categoryId], [discount], [quantity], [description], [imageId]) VALUES (N'C436G5', N'Ботинки', N'шт.', 10200, 1, 5, 1, 0, 0, N'Ботинки женские, ARGO, размер 40', NULL)
GO
INSERT [dbo].[Role] ([roleId], [title]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([roleId], [title]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([roleId], [title]) VALUES (3, N'Клиент')
GO
INSERT [dbo].[Supplier] ([supplierId], [title]) VALUES (1, N'Kari')
INSERT [dbo].[Supplier] ([supplierId], [title]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[User] ([userId], [surname], [name], [patronymic], [roleId], [email], [passwordhash]) VALUES (1, N'Никифорова', N'Весения', N'Николаевна', 1, N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User] ([userId], [surname], [name], [patronymic], [roleId], [email], [passwordhash]) VALUES (2, N'Сазонов', N'Руслан', N'Германович', 1, N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User] ([userId], [surname], [name], [patronymic], [roleId], [email], [passwordhash]) VALUES (3, N'Одинцов', N'Серафим', N'Артёмович', 1, N'yzls62@outlook.com', N'JlFRCZ')
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([article])
REFERENCES [dbo].[Product] ([article])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Image] FOREIGN KEY([imageId])
REFERENCES [dbo].[Image] ([imageId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Image]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([manufacturerId])
REFERENCES [dbo].[Manufacturer] ([manufacturerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([supplierId])
REFERENCES [dbo].[Supplier] ([supplierId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
