* {
  font-family: 'Times New Roman', Times, serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #FFFFFF;
}

/* Карточка товара */
.product-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 20px 10px;
  background-color: #7FFF00;
  height: 300px;
}

.image-container {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.info-block {
  padding: 0 15px;
  height: 100%;
  background-color: #00FA9A;
  vertical-align: center;
  horiz-align: center;
}

.discount-info {
  min-width: 180px;
  height: 100%;
  background-color: #00FA9A;
}

.special-discount-info {
  min-width: 180px;
  height: 100%;
  background-color: #2E8B57;
}